// ----------------------------------------------------------------------------------------------------------------------------------
// --------------------------------------------------------- Fonts ------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// Heading sizes
$h1-font-size: 22px !default;
$h2-font-size: 20px !default;


// Others sizes
$text-font-size: 14px;
$title-font-size: 16px;
$button-font-size: 16px;
$helper-font-size: 12px;

// ----------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------ Screensize ----------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------

$screensize: 992px;

// ----------------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------ Colors --------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------

// Main Colors
$primary-color: #1976d2;
$secondary-color: #4922d2;

$black: #000 !default;
$white: #fff;

// Secondary Colors
$green: #1f7a1f;
$red: #c41c1c;

// Header Color
$header-color: #232323;

// Text Colors
$text-primary: #232323;
$stroke: #d9d9d9;
$text-gray: #4a4c55;

$border-radius: 10px;
$box-shadow: 0 4px 10px rgb(0 0 0 / 15%);

$input-adornment-color: #757575;

$border-color: #eff2f5;