@import '/src//GlobalVariables/GlobalVariables';

.header {
	position: sticky;
	top: 0;
	background-color: $header-color;
	z-index: 99;
	padding: 8px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;


	img {
		height: 24px;
	}
}

.main-content {
	margin-bottom: 24px;

	label {
		font-size: $title-font-size;
	}

	.MuiCard-root {
		@media (min-width: $screensize) {
			box-shadow: $box-shadow;
		}
	}

	hr {
		margin: 12px 0;
	}

	.card-title {
		font-size: $h2-font-size;
		font-weight: bold;
	}

	.green {
		color: $green
	}

	.red {
		color: $red;
	}

}